<div class="container m-t-20">
  <div class="trend">
    <div class="i-title">
      <h3>最新动态</h3>
      <p><a href="/product/list.htm?prodType=001">查看更多</a></p>
    </div>
    <div class="news-list">
      <ul>
        <li *ngFor="let item of news">
          <p>
            <i></i><a [href]="item.link">{{ item.name }}</a>
          </p>
          <span>{{ item.date }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="news">
    <div class="i-title">
      <h3>媒体新闻</h3>
      <p><a href="/product/list.htm?prodType=001">查看更多</a></p>
    </div>
    <div class="news-list">
      <ul>
        <li *ngFor="let item of news">
          <p>
            <i></i><a [href]="item.link">{{ item.name }}</a>
          </p>
          <span>{{ item.date }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
