<div id="menu">
  <div id="menu-con">
    <p id="logo" class="fl">
      <a href="/index.htm"
        ><img
          src="https://i.yingyinglicai.com/frontweb_bak_201907/theme/images_jinke/logo.png"
          alt="盈盈金科"
          title="盈盈金科"
      /></a>
    </p>
    <div id="nav" class="fr">
      <span class="nav-a fl active"><a href="/index.htm">首　　页</a></span>
      <span class="nav-a fl"><a href="/else/safetyGuarantee.htm">安全保障</a><em></em></span>
      <span class="nav-a fl "><a href="/education/business.htm">信息披露</a><em></em></span>
      <span class="nav-a fl"><a href="/else/newbieGuide.htm">新手引导</a><em></em></span>
      <span class="nav-a fl"><a href="/borrow/index.htm">我要借款</a><em></em></span>
      <span class="nav-b fl"
        ><a href="/account/debit/index.htm" class="icon-sprite icon-i-5">我的盈盈</a><em></em
      ></span>
    </div>
  </div>
</div>
