<nav>
  <div class="content">
    <div class="logo">
      <img
        src="https://i.yingyinglicai.com/frontweb_bak_201907/theme/images_jinke/logo.png"
        alt="盈盈金科"
        title="盈盈金科"
      />
    </div>
    <div class="munu">
      <span class="active go-page" (click)="goPage('/home')"
        >首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</span
      >
      <span class="go-page" (click)="goPage('/else/safety-guarantee')"
        >安全保障</span
      >
      <span class="go-page" (click)="goPage('/other')">信息披露</span>
      <span class="go-page" (click)="goPage('/else/newbie-guide')"
        >新手引导</span
      >
      <span class="go-page">我要借款</span>
      <span class="go-page">我的盈盈</span>
    </div>
  </div>
</nav>
