<div id="footer">
  <div id="f-up">
    <div id="footer-con-a">
      <div id="f-1">
        <p id="f-img">
          <span
            ><a href="http://cn.norton.com/" rel="nofollow" target="_blank"
              ><img src="https://i.yingyinglicai.com/frontweb_bak_201907/theme/imagesnew/7.png" alt="" title=""/></a
          ></span>
          <span
            ><a href="/about/about5.htm" rel="nofollow" target="_blank"
              ><img src="https://i.yingyinglicai.com/frontweb_bak_201907/theme/imagesnew/10.png" alt="" title=""/></a
          ></span>
          <span
            ><a href="https://search.szfw.org/cert/l/CX20141015005266005358" rel="nofollow" target="_blank"
              ><img src="https://i.yingyinglicai.com/frontweb_bak_201907/theme/imagesnew/12.png" alt="" title=""/></a
          ></span>
          <span
            ><a
              href="https://ss.knet.cn/verifyseal.dll?sn=e14102033010055136ivxr000000&amp;comefrom=trust"
              rel="nofollow"
              target="_blank"
              ><img src="https://i.yingyinglicai.com/frontweb_bak_201907/theme/imagesnew/13.png" alt="" title=""/></a
          ></span>
          <span
            ><a
              href="https://v.yunaq.com/certificate?domain=www.yingyinglicai.com&amp;from=label&amp;code=90030"
              rel="nofollow"
              target="_blank"
              ><img src="https://i.yingyinglicai.com/frontweb_bak_201907/theme/imagesnew/64.png" alt="" title=""/></a
          ></span>
        </p>
        <p id="f-menu">
          <span><a href="/about/about1.htm" rel="nofollow">关于我们</a></span>
          <span><a href="/else/newbieGuide.htm" rel="nofollow">新手引导</a></span>
          <span><a href="/help/help-center1.htm" rel="nofollow">帮助中心</a></span>
          <span><a href="/about/about3.htm" rel="nofollow">合作伙伴</a></span>
          <span><a href="/else/safetyGuarantee.htm" rel="nofollow">安全保障</a></span>
          <span><a href="/else/joinUs.htm" rel="nofollow">加入我们</a></span>
          <span><a href="/else/contactUs.htm" rel="nofollow">联系我们</a></span>
          <span><a href="http://www.wangdaizhijia.com" rel="nofollow" target="blank">网贷之家</a></span>
        </p>
      </div>
      <div id="f-2">
        <p id="f-2-a">客服邮箱：kefu@yingyinglicai.com</p>
        <p id="f-2-b">客服热线（09:30-18:30）</p>
        <p id="f-2-c">4000-666-188</p>
      </div>
    </div>
  </div>
  <div id="f-down" style="height:100px">
    <div id="footer-con-b">
      <p style="height:0px;line-height:0px;padding-top: 30px">
        Copyright © 2013-2018 Hangzhou LongYing Internet Financial Information Technology Co., Ltd. All Rights Reserved.
        <a style="color: white" href="http://www.beian.miit.gov.cn" target="_blank">浙ICP备13015820号-1</a>
      </p>
      <p style="height:0px;line-height:0px;margin-top: 25px">版权所有：杭州龙盈互联网金融信息技术有限公司</p>
      <p style="height:0px;line-height:0px;margin-top: 15px">
        <a
          target="_blank"
          href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010302001850"
          style="display:inline-block;text-decoration:none;"
          ><img
            src="https://i.yingyinglicai.com/frontweb_bak_201907/theme/imagesnew/gongan.png"
            style="bottom: 0; float: left"
          /><span style="float: left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:white;"
            >浙公网安备 33010302001850号</span
          ></a
        >
      </p>
    </div>
  </div>
</div>
