<div class="swiper">
  <div class="carousel">
    <div class="bgimg-one"><a href=""></a></div>
    <div class="bgimg-two"><a href=""></a></div>
    <div class="bgimg-three"><a href=""></a></div>
    <div class="bgimg-four"><a href=""></a></div>
  </div>
  <div class="float">
    <ul>
      <li class="float-ul-li">1</li>
      <li class="float-ul-li">2</li>
      <li class="float-ul-li">3</li>
      <li class="float-ul-li">0</li>
    </ul>
  </div>
  <div class="banner-tip">
    <div class="in">
      <!-- <p class="in-top">安全、稳健、高收益</p> -->
      <strong>新注册用户更享好礼</strong>
      <a class="icon-n-sprite icon-n-1 btn" href="./pages/register.html"
        >10秒免费注册</a
      >
      <p class="in-bottom">
        已有账号？<a href="./pages/login.html">立即登陆</a>
      </p>
    </div>
  </div>
</div>
