.swiper {
  position: relative;
  .carousel {
    height: 330px;
    & > .bgimg-one {
      & > a {
        display: inline-block;
        position: absolute;
        left: 0;
        height: 330px;
        width: 100%;
        background: url('../../../../../assets/images/banner/201608031110200.jpg')
          no-repeat center;
      }
    }
    & > .bgimg-two {
      & > a {
        display: inline-block;
        position: absolute;
        left: 0;
        height: 330px;
        width: 100%;
        background: url('../../../../../assets/images/banner/201607251723490.jpg')
          no-repeat center;
      }
    }
    & > .bgimg-three {
      & > a {
        display: inline-block;
        position: absolute;
        left: 0;
        height: 330px;
        width: 100%;
        background: url('../../../../../assets/images/banner/zxhz-new.jpg')
          no-repeat center;
      }
    }
    & > .bgimg-four {
      & > a {
        display: inline-block;
        position: absolute;
        left: 0;
        height: 330px;
        width: 100%;
        background: url('../../../../../assets/images/banner/jyzb.jpg')
          no-repeat center;
      }
    }
  }
  .float {
    ul {
      display: flex;
      position: absolute;
      left: calc(50% - 60px);
      bottom: 10px;
      li {
        font-size: 0;
        width: 30px;
        height: 7px;
        margin-left: 15px;
        background: #fff;
        opacity: 0.5;
        box-shadow: 1px 1px 9px #bbb5b5;
      }
    }
  }
  .banner-tip {
    position: absolute;
    width: 1000px;
    left: calc(50% - 500px);
    top: 52px;
    .content {
      background: url(../../../../../assets/images/2.png) no-repeat left top;
      width: 300px;
      height: 230px;
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 40px;
      color: #fff;
      text-align: center;
      .login {
        width: 240px;
        margin: 0 auto;
        strong {
          font-size: 20px;
          font-weight: 700;
          margin-top: 15px;
        }
        .btn {
          margin-top: 25px;
          width: 240px;
          height: 40px;
          line-height: 40px;
          background-position: -76px -44px;
          font-size: 18px;
        }
        .in-bottom {
          text-align: right;
          margin-top: 23px;
          font-size: 16px;
          a {
            color: #fff;
            font-size: 14px;
            margin-left: 3px;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
