<div id="header">
  <div id="header-con">
    <div id="header-l" class="fl">
      <span class="icon-sprite icon-i-1"></span>
      <p class="fl mg-l-1">客服热线 4000-666-188</p>
      <span id="weibo" class="icon-sprite icon-i-2 topicon"></span>
      <span id="weixin" class="icon-sprite icon-i-3 topicon"></span>
      <span id="qq" class="icon-sprite icon-i-4 topicon"></span>
    </div>
    <div id="header-r" class="fr">
      <p class="fl"><a href="/user/login.htm" rel="nofollow" class="h-r-first">登录</a></p>
      <p class="fl"><a href="/user/register.htm" rel="nofollow">10秒免费注册</a></p>
      <p class="fl"><a href="/safe/safeCenterQuery.do" rel="nofollow">安全中心</a></p>
      <p class="fl"><a href="/help/help-center1.htm" rel="nofollow">帮助中心</a></p>
      <p class="fl"><a href="/about/about1.htm" rel="nofollow">关于我们</a></p>
      <p class="fl"><a href="/else/contactUs.htm" rel="nofollow">联系我们</a></p>
    </div>
  </div>
</div>
