<header>
  <div class="content">
    <div class="left">
      <span class="icon-sprite icon-i-1"> </span>
      <span class="customer-service">客服热线 4000-666-188</span>
      <span class="icon-sprite icon-hover icon-i-2"></span>
      <span class="icon-sprite icon-hover icon-i-3"></span>
      <span class="icon-sprite icon-hover icon-i-4"></span>
    </div>
    <div class="right">
      <span class="go-page" (click)="goPage('/user/login')">登录</span>
      <span class="go-page" (click)="goPage('/user/register')"
        >10秒免费注册</span
      >
      <span class="go-page" (click)="goPage('/user/login1')">安全中心</span>
      <span class="go-page" (click)="goPage('/user/login1')">帮助中心</span>
      <span class="go-page" (click)="goPage('/user/login1')">关于我们</span>
      <span class="go-page" (click)="goPage('/else/contact-us')">联系我们</span>
    </div>
  </div>
</header>
