@import './assets/less/reset.less';
// @import './assets/less/yingyinglicai.less';
body {
  background: #f8f8f8;
}

.icon-n-sprite {
  // background-image: url(https://fe.yingyinglicai.com/h5-projects/cunguan/1.0.1/static/imagesnew/1.png);
  background-image: url(assets/images/1.png);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  color: #fff;
  text-decoration: none;
}
.icon-sprite {
  // background-image: url(https://fe.yingyinglicai.com/h5-projects/cunguan/1.0.1/static/imagesnew/1.png);
  background-image: url(assets/images/1.png);
  background-repeat: no-repeat;
  overflow: hidden;
  float: left;
  text-indent: -9999px;
  display: inline;
}
